* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
    color: #0C3557;
}

.display-width {
    width: 84%;
    margin: auto;
}

/* --For-Accordion-- */

.accordion-item {
    position: relative;
    overflow: hidden;
}

.progress-bar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #0d6efd;
    transition: none;
}

.purple {
    background-color: #8147F3;
}

.pink {
    background-color: #E55CFF;
}

.yellow {
    background-color: #FEA601;
}

.green {
    background-color: #14E885;
}

.progress-animate {
    animation: progressFill 8s linear forwards;
}

@keyframes progressFill {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* --For-Carousel-fade-- */

.caro-wrap {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.caro {
    position: relative;
    z-index: 2;
}


/* Shape1: Top to Bottom with rotation */
.shape1 {
    border-top: 150px solid yellow;
    border-bottom: 150px solid red;
    border-left: 150px solid blue;
    border-right: 150px solid purple;
    position: absolute;
    top: -100px;
    left: -60px;
    animation: moveDownRotate 10s linear infinite;
}

.shape2 {
    position: absolute;
    border-top: 100px solid brown;
    border-bottom: 100px solid orange;
    border-left: 100px solid hotpink;
    border-right: 100px solid wheat;
    border-radius: 40px;
    background-color: #14E885;
    width: 340px;
    height: 340px;
    bottom: -100px;
    right: -60px;
    animation: moveUpRotate 10s linear infinite;
}

@keyframes moveDownRotate {
    0% {
        transform: translateY(-240px) rotate(0deg);
    }

    100% {
        transform: translateY(760px) rotate(360deg);
    }
}

@keyframes moveUpRotate {
    0% {
        transform: translateY(240px) rotate(0deg);
    }

    100% {
        transform: translateY(-760px) rotate(360deg);
    }
}


/* --HEADER-- */

header {
    width: 100%;
    background-color: white;
    border-bottom: thin solid #dadee6;
    z-index: 200;
}

.alertt {
    background-color: #f3f6fa;
}

.alert-wrap {
    padding: 4px 0;
    color: #476788;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1em;
}

.alert-wrap li:hover {
    color: #016AFF;
    cursor: pointer;
}

.alert-wrap li:hover .alert-icon {
    color: #016AFF;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 160px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.menu-items {
    padding: 20px 0px;
    position: relative;
}

.menu-items a {
    border-radius: 10px;
    color: black;
    padding: 8px;
    text-decoration: none;
    font-weight: 500;
}

.menu-items a:hover {
    background-color: #f3f6fa;
}

.menu-items:hover .dropdown {
    visibility: visible;
}

.dropdown {
    background-color: white;
    width: 680px;
    height: auto;
    position: absolute;
    top: 100%;
    left: -140px;
    z-index: 90;
    visibility: hidden;
}

.login {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.login:hover {
    color: #476788;
}

.get-started {
    background-color: #016AFF;
    color: white;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.get-started:hover {
    background-color: #004EB9;
}

.hambuger {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1280px) {
    .display-width {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .menu-list {
        gap: 0.8em;
    }
}

@media (max-width: 990px) {
    .menu-list {
        display: none;
    }

    .hambuger {
        display: block;
        margin-left: 20px;
    }
}

@media (max-width: 890px) {
    .display-width {
        width: 94%;
    }
}

@media (max-width: 768px) {
    .login {
        display: none;
    }

    .alert-wrap {
        justify-content: space-between;
    }
}



/* --HERO-SECT--  */

.hero {
    padding: 140px 0 60px 0;
}

.hero-top-wrap {
    display: flex;
    justify-content: space-between;
}

.hero-top-left {
    width: 468px;
}

.hero-top-left h1 {
    color: #0C3557;
    font-weight: bold;
    font-size: 64px;
}

.hero-top-left p {
    color: #0C3557;
    font-size: 20px;
    font-weight: 300;
}

.hero-top-left-signup {
    width: 304px;
}

.signup-wrap {
    display: flex;
    flex-direction: column;
}

.signup-btn {
    padding: 4px 10px;
    margin: 4px 0;
    border-radius: 10px;
    width: 300px;
    border: none;
}

.signup-btn span {
    display: flex;
    align-items: center;
    gap: 2em;
}

.signup-btn1 {
    background-color: #016AFF;
}

.signup-btn2 {
    background-color: #0C3557;
}

.signup-img {
    border: 2px solid black;
    border-radius: 5px;
}

.or-divider {
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.or-divider span {
    color: #0C3557;
    font-size: 14px;
    font-weight: 300;
}

.line {
    border-top: thin solid #0C3557;
    width: 120px;
    height: 0;
}

.signup-email {
    font-size: 13px;
    font-weight: 500;
}

.card-title {
    padding: 20px 30px;
    color: #0C3557;
    font-size: 28px;
    font-weight: 600;
}

/* --For-slide-- */

.hero-bottom-slide {
    overflow-x: hidden;
    margin-top: 100px;
}

.hero-bottom-slide h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.moving-container {
    animation: slideRightToLeft 50s linear infinite;
}

.slide-image {
    width: 500px;
    object-fit: fill;
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1280px) {
    .hero-top-wrap {
        width: 90%;
    }
}

@media (max-width: 996px) {
    .hero-top-wrap {
        gap: 2em;
    }
}

@media (max-width: 900px) {
    .hero-top-wrap {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }

    .hero-top-left {
        text-align: center;
        width: 440px;
    }

    .hero-top-left h1 {
        font-size: 44px;
        font-weight: 600;
    }

    .hero-top-left p {
        font-size: 18px;
        margin: 20px 0;
    }

    .hero-top-left-signup {
        margin: auto;
        width: 244px;
    }

    .signup-wrap {
        align-items: center;
    }

    .signup-btn {
        width: 240px;
        font-size: 14px;
        font-weight: 500;
    }

    .or-divider span {
        font-size: 10px;
        font-weight: 400;
    }

    .signup-email {
        font-size: 11px;
    }
}

@media (max-width: 440px) {
    .hero-top-left {
        width: inherit;
    }
}

/* --Section-2-- */

.sect2-wrap {}

.sect-heading-h2 {
    width: 996px;
    margin: 20px auto;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.sect-heading p {
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.signup-free-wrap {
    margin: 20px 0;
    text-align: center;
    padding: 20px;
}

.sect2-signup-btn {
    text-decoration: none;
    background-color: #016AFF;
    color: white;
    padding: 16px 20px;
    border-radius: 10px;
}

.accord-caro-container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.accord {
    width: 486px;
}

.caro-main {
    width: 650px;
}

.sect2-bottom {
    padding-top: 140px;
}

.sect2-bottom-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.sect2-bottom-title h2 {
    font-size: 48px;
    font-weight: 640;
}

.sect2-bottom-title div {
    padding-top: 40px;
}

.sect2-bottom-p {
    font-size: 18px;
}

.tools {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 1em;
}

.tools-item {
    border: thin solid #dadee6;
    background-color: #F4F8FD;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
}

.tools-logo {
    width: 40px;
}

.green-house {
    width: 20px;
}

.sales-force {
    width: 50px;
}

.suites-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.suite {
    border: thin solid #dadee6;
    border-radius: 20px;
}

@media (max-width: 1120px) {
    .sect-heading-h2 {
        width: 700px;
    }
}

@media (max-width: 900px) {
    .sect-heading {
        width: 580px;
        margin: auto;
    }

    .sect-heading-h2 {
        width: inherit;
        font-size: 50px;
    }

    .sect-heading p {
        font-size: 16px;
    }

    .sect2-signup-btn {
        padding: 12px 16px;
        font-size: 14px;
    }

    .accord-caro-container {
        flex-direction: column;
        align-items: center;
    }

    .accord {
        width: 100%;
    }

    .sect2-bottom-title {
        display: block;
    }

    .sect2-bottom-title h2 {
        width: inherit;
        font-size: 32px;
        font-weight: 600;
    }

    .sect2-bottom-title div {
        padding-top: 20px;
    }
}

@media (max-width: 750px) {
    .caro-main {
        width: inherit;
    }
}

@media (max-width: 660px) {
    .sect-heading {
        width: inherit;
    }

    .sect-heading-h2 {
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .suites-wrap {
        grid-template-columns: auto;
    }
}

/* --Section-3-- */

.sect3-wrap {
    padding: 80px 0 60px 0;
}

.signup-free-btn {
    text-decoration: none;
    background-color: #016AFF;
    color: white;
    padding: 16px 20px;
    border-radius: 10px;
}

.sect3-bottom {}

.sect3-bottom h2 {
    width: 486px;
    font-size: 48px;
    font-weight: 620;
}

.billing-plans-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.4em;

}

.billing-plan {
    border: thin solid #dadee6;
    border-radius: 10px;
    padding: 20px;
}

.billing-plan-btn {
    width: 100%;
    background-color: #016AFF;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

@media (max-width: 1280px) {
    .sect2-wrap {
        width: 90%;
    }

    .billing-plans-wrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {
    .billing-plans-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .sect3-bottom h2 {
        width: 486px;
        font-size: 40px;
        font-weight: 600;
    }
}

@media (max-width: 512px) {
    .billing-plans-wrap {
        grid-template-columns: 1fr;
    }

    .sect3-bottom h2 {
        width: inherit;
        font-size: 36px;
    }
}

/* --Section-4-dicover-- */

.discover {
    padding: 80px 0;
}

.discover-heading {
    width: 792px;
    font-size: 50px;
    font-weight: 610;
}

.controls button {
    margin: 0 10px;
    padding: 4px 12px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

.controls button:hover {
    background-color: #b1afaf;
}

.carousel-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    gap: 2em;
    scrollbar-width: none;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.slide {
    border: 1px solid black;
    flex: 0 0 30%;
    background: #eee;
    padding: 20px;
    border-radius: 10px;
}

.slide-h1 {
    font-size: 80px;
    font-weight: 600;
}

.txt-white {
    color: white;
}

.white-arrow {
    color: white;
}

.slide1 {
    border: 1px solid #0C3557;
}

.slide1:hover {
    background-color: #0C3557;
}

.slide1:hover h1 {
    color: white;
}

.slide1:hover p {
    color: white;
}

.bg-gray {
    background-color: #0C3557;
}

.txt-gray {
    color: #0C3557;
}

.slide2 {
    border: 1px solid blue;
}

.slide2:hover {
    background-color: blue;
}

.slide2:hover h1 {
    color: white;
}

.slide2:hover p {
    color: white;
}

.bg-blue {
    background-color: blue;
}

.txt-blue {
    color: blue;
}

.slide3 {
    border: 1px solid rgb(255, 153, 0);
}

.slide3:hover {
    background-color: rgb(255, 153, 0);
}

.slide3:hover h1 {
    color: white;
}

.slide3:hover p {
    color: white;
}

.bg-orange {
    background-color: rgb(255, 153, 0);
}

.txt-orange {
    color: rgb(255, 153, 0);
}

.slide4 {
    border: 1px solid purple;
}

.slide4:hover {
    background-color: purple;
}

.slide4:hover h1 {
    color: white;
}

.slide4:hover p {
    color: white;
}

.bg-violet {
    background-color: purple;
}

.txt-violet {
    color: purple;
}

.slide5 {
    border: 1px solid rgb(104, 10, 226);
}

.slide5:hover {
    background-color: rgb(104, 10, 226);
}

.slide5:hover h1 {
    color: white;
}

.slide5:hover p {
    color: white;
}

.bg-purple {
    background-color: rgb(104, 10, 226);
}

.txt-purple {
    color: rgb(104, 10, 226);
}

.discover-logos {
    width: 150px;
    filter: invert(100%);
}

.slide:hover img {
    filter: invert(0%);
}

.muck {
    width: 80px;
}

@media (max-width: 900px) {
    .discover-heading {
        width: 600px;
        font-size: 40px;
        font-weight: 510;
    }

    .slide {
        height: 320px;
    }

    .slide-h1 {
        font-size: 60px;
    }
}

@media (max-width: 630px) {
    .discover-heading {
        width: inherit;
        font-size: 30px;
        font-weight: 510;
    }
}

@media (max-width: 440px) {
    .carousel-container {
        flex-direction: column;
    }

    .controls {
        display: none;
    }
}

/* --Section-5-security-- */

.security-sect {
    padding: 80px 0;
}

.security-sect-title {
    /* border: 2px solid black; */
    width: 996px;
    margin: auto;
    font-size: 76px;
    font-weight: 620;

}

.security-cert {
    width: 130px;
}

.security-sect p {
    width: 792px;
    margin: auto;
}

@media (max-width: 860px) {
    .security-sect p {
        width: inherit;
    }
}

.power-up {
    background-color: #F8F9FB;
    padding: 80px 0;
}

.power-up-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.power-up h2 {
    font-size: 70px;
    font-weight: 600;
}

.get-demo-btn {
    text-decoration: none;
    background-color: transparent;
    border: thin solid #476788;
    color: #476788;
    padding: 16px 20px;
    border-radius: 10px;
    margin-left: 10px;
}

@media (max-width: 992px) {
    .power-up-wrap {
        display: block;
        text-align: center;
    }

    .power-up h2 {
        font-size: 60px;
    }
}

@media (max-width: 630px) {
    .power-up h2 {
        font-size: 40px;
    }
}

/* --Footer-- */

.footer-wrap {
    padding: 80px 0;
}

.footer-columns-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

ul {
    padding: 0;
    margin: 0;
}

.footer-columns-wrap ul li a {
    text-decoration: none;
    color: black;
}

.footer-columns-wrap ul li a:hover {
    border-bottom: 1.4px solid black;
}

.footer-columns-wrap ul li {
    margin: 12px 0;
}

.downloads {
    width: 952px;
}

.app-stores {
    width: 588px;
    line-height: 3.4;
}

.app-stores a {
    text-decoration: none;
    background-color: #E7EDF6;
    border-radius: 6px;
    padding: 14px 8px;
    margin-right: 6px;
}

.app-icon {
    width: 18px;
}

.app-name {
    font-size: 14px;
    font-weight: 500;
}

.social-icons {
    width: 184px;
}

.fa-brands {
    font-size: 22px;
}

.fa-brands:hover {
    filter: opacity(0.7);
}

.lang-select-wrap {
    width: 110px;
    cursor: pointer;
}

#lang-select {
    padding: 10px 0;
    border: none;
    width: 90px;
    font-size: 16px;
    font-weight: 540;
}

.lang-select-wrap:hover #lang-select {
    color: #016AFF;
    cursor: pointer;
}

.lang-select-wrap:hover .fa-globe {
    color: #016AFF;
}

.privacy a {
    text-decoration: none;
    color: #0C3557;
    font-size: 12px;
}

.copyright {
    color: #0C3557;
    font-size: 12px;
}

@media (max-width: 1239px) {
    .footer-columns-wrap {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer-wrap {
        padding-top: 40px;
    }

    .footer-column {
        padding-top: 40px;
    }

}

@media (max-width: 999px) {
    .footer-columns-wrap {
        grid-template-columns: 1fr 1fr 1fr;
    }

}