* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0C3557;
    list-style-type: none;
    font-family: 'Gilroy', sans-serif;
}

.display-width {
    width: 84%;
    margin: auto;
}

/* --For-Accordion-- */

.accordion-item {
    position: relative;
    overflow: hidden;
}
.progress-bar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #0d6efd;
    transition: none;
}
.purple {
    background-color: #8147F3;
}
.pink {
    background-color: #E55CFF;
}
.yellow {
    background-color: #FEA601;
}
.green {
    background-color: #14E885;
}
.progress-animate {
    animation: progressFill 8s linear forwards;
}
@keyframes progressFill {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* --For-Carousel-fade-- */


.caro-wrap {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
/* .caro {
    position: relative;
    z-index: 2;
} */
/* Shape1: Top to Bottom with rotation */

.shape1 {
    border-top: 150px solid yellow;
    border-bottom: 150px solid red;
    border-left: 150px solid blue;
    border-right: 150px solid purple;
    position: absolute;
    top: -100px;
    left: -60px;
    animation: moveDownRotate 10s linear infinite;
}
/* Shape2: Bottom to Top with rotation */

.shape2 {
    position: absolute;
    border-top: 100px solid brown;
    border-bottom: 100px solid orange;
    border-left: 100px solid hotpink;
    border-right: 100px solid wheat;
    border-radius: 40px;
    background-color: #14E885;
    width: 340px;
    height: 340px;
    bottom: -100px;
    right: -60px;
    animation: moveUpRotate 10s linear infinite;
    /* animation-delay: 1.5s; */
}

@keyframes moveDownRotate {
    0% {
        transform: translateY(-240px) rotate(0deg);
    }

    100% {
        transform: translateY(760px) rotate(360deg);
    }
}

@keyframes moveUpRotate {
    0% {
        transform: translateY(240px) rotate(0deg);
    }

    100% {
        transform: translateY(-760px) rotate(360deg);
    }
}

/* --HEADER-- */

header {
    width: 100%;
    background-color: white;
    border-bottom: thin solid #dadee6;
    z-index: 200;
}

.alertt {
    background-color: #f3f6fa;
}

.alert-wrap {
    padding: 4px 0;
    color: #476788;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1em;
}

.alert-wrap li:hover {
    color: #016AFF;
    cursor: pointer;
}

.alert-wrap li:hover .alert-icon {
    color: #016AFF;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 160px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.menu-items {
    padding: 20px 0px;
    position: relative;
}

.menu-items a {
    border-radius: 10px;
    color: black;
    padding: 8px;
    text-decoration: none;
    font-weight: 500;
}

.menu-items a:hover {
    background-color: #f3f6fa;
}

.menu-items:hover .dropdown {
    visibility: visible;
}

.dropdown {
    background-color: white;
    width: 680px;
    height: auto;
    position: absolute;
    top: 100%;
    left: -140px;
    z-index: 90;
    visibility: hidden;
}

.login {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.login:hover {
    color: #476788;
}

.get-started {
    background-color: #016AFF;
    color: white;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.get-started:hover {
    background-color: #004EB9;
}

.hambuger {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1280px) {
    .display-width {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .menu-list {
        gap: 0.8em;
    }
}

@media (max-width: 990px) {
    .menu-list {
        display: none;
    }

    .hambuger {
        display: block;
        margin-left: 20px;
    }
}

@media (max-width: 890px) {
    .display-width {
        width: 94%;
    }
}

@media (max-width: 768px) {
    .login {
        display: none;
    }

    .alert-wrap {
        justify-content: space-between;
    }
}

/* -- HERO-SECTION -- */

.hero {
    padding: 120px 0;
    background-color: #F8F9FB;
}
.hero-heading {
    font-size: 70px;
    font-weight: 700;
}
.hero-paragraph {
    margin: 40px 0;
    font-size: 20px;
    font-weight: 300;
}
.signup-btn {
    border: none;
    background-color: #016AFF;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 6px;
    padding: 12px 26px;
}
.get-demo-btn {
    border: 1px solid #0C3557;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 6px;
    padding: 12px 26px;
}
.hero-card-wrap {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    margin: 40px 0;
}
.hero-card-wrap h2 {
    font-size: 22px;
}

/* --For-slide-- */

.hero-bottom-slide {
    overflow-x: hidden;
}
.moving-container {
    animation: slideRightToLeft 40s linear infinite;
}
.slide-image {
    width: 460px;
    object-fit: fill;
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 900px) {
    .hero-heading {
        font-size: 60px;
    }
    .hero-card-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .hero-card-wrap {
        grid-template-columns: 1fr;
    }
    .hero-heading {
        font-size: 50px;
    }
}

/* -- SECTION-2 -- */

.sect2 {
    padding: 80px 0;
}
.sect2-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3em;
}
.sect2-wrap h2 {
    font-size: 50px;
    font-weight: 700;
}
.sect2-wrap p {
    font-size: 20px;
    font-weight: 300;
}

@media (max-width: 900px) {
    .sect2-wrap {
        display: flex;
        flex-direction: column-reverse;
    }
    .sect2-wrap h2 {
    font-size: 40px;
    font-weight: 600;
    }
}

/* -- SECTION-3 -- */

.sect3 {
    padding: 80px 0;
}

.pan {
    width: 194px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #E6F0FF;
    border-radius: 10px;
    color: #004EB9;
    font-size: 12px;
    padding: 4px 10px;
}
.sect-heading-h2 {
    width: 996px;
    margin: 20px auto;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}
.sect-heading p {
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}
.centered-btn-wrap {
    margin: 20px 0;
    text-align: center;
    padding: 20px;
}
.learn-more-btn {
    border: none;
    background-color: #016AFF;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 12px 20px;
    margin-bottom: 20px;
}

.accord-caro-container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.accord {
    width: 486px;
}

.caro-main {
    width: 650px;
}
@media (max-width: 1120px) {
    .sect-heading-h2 {
        width: 700px;
    }
}
@media (max-width: 900px) {
    .accord-caro-container {
        flex-direction: column;
        align-items: center;
    }
    .accord {
        width: 100%;
    }
    .sect-heading {
        width: 500px;
        margin: auto;
    }
    .sect-heading-h2 {
        width: inherit;
        font-size: 50px;
    }
}
@media (max-width: 500px) {
    .sect-heading {
        width: inherit;
    }
    .sect-heading-h2 {
        font-size: 40px;
    }
    .caro-main {
        width: inherit;
    }
}

/* -- SECTION-4 -- */

.sect4 {
    padding: 80px 0;
    background-color: #F8F9FB;
}
.access {
    text-decoration: none;
    margin-bottom: 20px;
    background-color: #E6F0FF;
    border-radius: 10px;
    color: #004EB9;
    font-size: 12px;
    padding: 4px 10px;
}
.sect4-heading {
    width: 500px;
    margin: 20px 0;
    font-size: 50px;
    font-weight: 700;
}
.sect4-paragraph {
    width: 690px;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
}
.sect4-card-wrap {
    margin: 20px 0;
    display: flex;
    gap: 3em;
}
.s4c-image {
    transition: all 0.5s ease;
}
.s4c-image:hover {
    transform: scale(1.15);
}
.sect4-card2-wrap {
    margin: 20px 0 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}
.sect4-bottom {
    background-color: #0C3557;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 60px;
}
.sect4-bottom a {
    text-decoration: none;
    background-color: #0369FF;
    border-radius: 10px;
    color: white;
    padding: 12px 20px;
}
@media (max-width: 900px) {
    .sect4-card2-wrap {
        grid-template-columns: 1fr 1fr;
    }
    .sect4-bottom {
        flex-direction: column;
        text-align: center;
    }
    .sect4-bottom a {
        margin-top: 20px;
    }
}
@media (max-width: 500px) {
    .sect4-heading {
        width: inherit;
        font-size: 40px;
    }
    .sect4-paragraph {
        width: inherit;
        font-size: 20px;
    }
    .sect4-card-wrap {
        flex-direction: column;
    }
    .sect4-card2-wrap {
        grid-template-columns: 1fr;
    }
}

/* -- SECTION-5 -- */

.sect5 {
    padding: 80px 0;
}

.start-free-btn {
    border: none;
    background-color: #016AFF;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 20px 0;
}

/* -- SECTION-6 -- */

.sect6 {
    padding: 80px 0;
    background-color: #F8F9FB;
}

.sect6-center {
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    margin-top: 40px;
}
.sect6-center-left {
    background-color: white;
    border-radius: 20px 0 0 20px;
    padding: 50px 30px;
    z-index: 1;
}
.sect6-center-left h4 {
    font-weight: 600;
}
.sect6-center-left p {
    font-size: 16px;
    font-weight: 400;
}
.sect6-image {
    transition: all 0.3s ease;
}
.sect6-image:hover {
    transform: scale(1.15);
    z-index: 0;
}
.sect6-bottom-card {
    display: flex;
    gap: 1em;
    margin-top: 20px;
}
.card {
    overflow: hidden;
}

@media (max-width: 900px) {
    .sect6-center {
        flex-direction: column;
    }
    .sect6-bottom-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hide-on-mobile {
        display: none;
    }
}
@media (max-width: 500px) {
    .sect6-bottom-card {
        grid-template-columns: 1fr;
    }
    
}

/* -- SECTION-7 -- */

.sect7 {
    padding: 80px 0;
}
.sect7-top {
    margin-bottom: 120px;
}
.sect7-top h2 {
    width: 486px;
    font-size: 50px;
    font-weight: 600;
}

.billing-plans-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.4em;

}

.billing-plan {
    border: thin solid #dadee6;
    border-radius: 10px;
    padding: 20px;
}

.billing-plan-btn {
    width: 100%;
    background-color: #016AFF;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.billing-plan1 {
    background-color: #0C3557;
}

.image-btn {
    filter: invert(20%);
    transition: all 0.4s ease;
}
.image-btn1 {
    width: 164px;
}
.image-btn2 {
    width: 140px;
}
.image-btn3 {
    width: 186px;
}
.image-btn:hover {
    width: 160px;
    border-bottom: blue;
    filter: invert(0%);
    transform: scale(0.8);
}
.card-footer {
    background-color: #0C3557;
    cursor: pointer;
}
.card-footer:hover {
    background-color: #476788;
}

@media (max-width: 900px) {
    .billing-plans-wrap {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .sect7-top h2 {
        font-size: 32px;
        text-align: center;
        width: inherit;
    }
    .billing-plans-wrap {
        grid-template-columns: 1fr;
    }
}

.white-icon {
    color: white;
}

.power-up {
    background-color: #F8F9FB;
    padding: 80px 0;
}

.power-up-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.power-up h2 {
    font-size: 70px;
    font-weight: 600;
}
.signup-free-wrap {
    margin: 20px 0;
    text-align: center;
    padding: 20px;
}
.signup-free-btn {
    text-decoration: none;
    background-color: #016AFF;
    color: white;
    padding: 16px 20px;
    border-radius: 10px;
}
.get-demo-btn {
    text-decoration: none;
    background-color: transparent;
    border: thin solid #476788;
    color: #476788;
    padding: 16px 20px;
    border-radius: 10px;
    margin-left: 10px;
}

@media (max-width: 992px) {
    .power-up-wrap {
        display: block;
        text-align: center;
    }

    .power-up h2 {
        font-size: 60px;
    }
}

@media (max-width: 630px) {
    .power-up h2 {
        font-size: 40px;
    }
}

/* --Footer-- */

footer { 
    background-color: #F8F9FB;
}
.footer-wrap {
    padding: 80px 0;
}

.footer-columns-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

ul {
    padding: 0;
    margin: 0;
}

.footer-columns-wrap ul li a {
    text-decoration: none;
    color: black;
}

.footer-columns-wrap ul li a:hover {
    border-bottom: 1.4px solid black;
}

.footer-columns-wrap ul li {
    margin: 12px 0;
}

.download-social-wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.app-stores a {
    text-decoration: none;
    background-color: #E7EDF6;
    border-radius: 6px;
    padding: 10px 8px;
    margin-right: 6px;
    margin-bottom: 10px;
    display: inline-block;
}

.app-icon {
    width: 18px;
}

.app-name {
    font-size: 14px;
    font-weight: 500;
}

.fa-brands {
    font-size: 22px;
}

.fa-brands:hover {
    filter: opacity(0.7);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang-select-wrap {
    width: 110px;
    cursor: pointer;
}

#lang-select {
    padding: 10px 0;
    border: none;
    width: 90px;
    font-size: 16px;
    font-weight: 540;
}

.lang-select-wrap:hover #lang-select {
    color: #016AFF;
    cursor: pointer;
}

.lang-select-wrap:hover .fa-globe {
    color: #016AFF;
}
.privacy{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.privacy a {
    text-decoration: none;
    color: #0C3557;
    font-size: 12px;
}

.copyright {
    color: #0C3557;
    font-size: 12px;
}

@media (max-width: 1239px) {
    .footer-columns-wrap {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer-wrap {
        padding-top: 40px;
    }

    .footer-column {
        padding-top: 40px;
    }

}

@media (max-width: 999px) {
    .footer-columns-wrap {
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media (max-width: 500px) {
    .footer-columns-wrap {
        grid-template-columns: 1fr 1fr;
    }
    .footer-columns-wrap {
        gap: 1em;
    }
    .footer-column {
        padding-top: 10px;
    }
    .footer-columns-wrap ul li a {
    font-size: 14px;
}
    .download-social-wrap {
        display: block;
    }
    .social-icons {
        margin-top: 20px;
    }
    .footer-bottom {
        display: block;
    }
    .privacy {
        flex-wrap: wrap;
        margin: 20px 0;
    }
}